<div class="card">
    <h3 class="card-header">Sign Up</h3>
    <form id="sign-up-form" class="card-body">
        <label for="username-sign-up" class="form-label">Username</label>
        <input id="username-sign-up" type="text" class="form-input"/>


        <label class="form-label" for="password-sign-up">Password</label>
        <input id="password-sign-up" type="password" class="form-input" />

        <button type="submit" class="btn">Sign up</button>
        <a class="login-link" href="/login">Log in</a>
    </form>
</div>

<script src="/js/signUp.js"></script>