<h2 class="card-header">Sign Up</h2>
<form id="sign-up-form" class="card-body">
    <div class="form-row">
        <label for="username-sign-up" class="form-label">Username</label>
        <input id="username-sign-up" type="text" class="form-input form-control" />
    </div>
    <div class="form-row">
        <label class="form-label" for="email-sign-up">Email</label>
        <input id="email-sign-up" type="email" class="form-input form-control" />
    </div>
    <div class="form-row">
        <label class="form-label" for="password-sign-up">Password</label>
        <input id="password-sign-up" type="password" class="form-input form-control" />
    </div>
    <button type="submit" class="btn">Sign Up</button>
    <a class="btn login-link" href="/login">Log In</a>
</form>

<script src="/js/signUp.js"></script>